* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.container-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.gameboard {
    height: 100vh;
    width: 100vw;
    /* gap: 5px; */
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.squares {
    border: 1px solid black;
    font-size: 4rem;
}