* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    /* height: 300px;
    width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.gameboard {
    height: 75vh;
    width: 75vw;
    gap: 5px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.squares {
    border: 1px solid black;
    font-size: 4rem;
}